# Ignorar pastas de saída de downloads
Videos/
Musicas/
links.txt

# Ignorar arquivos do ambiente virtual
.venv/

# Ignorar arquivos temporários do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar arquivos do sistema (Windows)
Thumbs.db
.DS_Store
